@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --navigation-height: 4.8rem;
    }

    html {
        @apply bg-background font-sans text-white;
        font-size: 62.5%;
    }
}

@layer utilities {
    .text-shadow {
        text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
    }
     .text-gradient {
        background : linear-gradient(to right bottom, rgb(255, 255, 255), 30% , rgba(255, 255, 255, 0.519));
        background-clip: text;
        color: transparent;
}
}

@keyframes animate1{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
    opacity: 1;
    transform:none
    }
}

@keyframes scaleAndSpin {
    0%{
        transform: rotateX(25deg);
    }
    25%{
        transform:brotateX(25deg) scale (0.9);
    }
    60%, to {
        transform: none;
    }
}

@keyframes backgroundGlow {
    0%{
        opacity:0;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    10%{
        opacity:1;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    100%{
        opacity:0.8;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}